body {
    box-sizing: border-box;
    background-color: #00264d;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman';
    background-color: #0066cc;
    color: white;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
}


section {
    align-self: center;
    background-color: #0066cc;
    align-items: center;
    border-image-width: 100%;
}